#masthead-container.ytd-app {
  display: none !important;
}

ytd-watch-flexy[theater] #player-theater-container.ytd-watch-flexy,
ytd-watch-flexy[fullscreen] #player-theater-container.ytd-watch-flexy {
  position: relative !important;
  max-height: 100vh !important;
}

#movie_player > div.html5-video-container > video {
  top: 0px !important;
}

body > ytd-app {
  --ytd-app-fullerscreen-scrollbar-width: 0 !important;
  --ytd-masthead-height: 0 !important;
}

ytd-watch-flexy:not([theater]):not([fullscreen]):not([no-top-margin])
  #primary.ytd-watch-flexy,
ytd-watch-flexy:not([theater]):not([fullscreen]):not([no-top-margin])
  #secondary.ytd-watch-flexy {
    padding-top: 0 !important;
}
